-----
Install Postgre:
https://www.enterprisedb.com/downloads/postgres-postgresql-downloads
<br>Password: pgadmin

pip install sqlalchemy

pip install psycopg2

pip install ipython-sql

pip install ipywidgets

pip install psycopg2

-----

In [1]:
############## Importar os módulos necessários para o Notebook:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

In [2]:
############## Conectar com um servidor SQL na base default ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadin@localhost:5432/postgres')
%sql postgresql://postgres:pgadin@localhost:5432/postgres

In [11]:
%%sql SELECT Current_database() --Base onde estamos conectados:
;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

# Exercicio 3

In [54]:
%%sql
DROP TABLE IF EXISTS Usuario CASCADE;
CREATE TABLE Usuario(
    ID          DECIMAL(8)  not NULL PRIMARY KEY,
    Nome        VARCHAR(40) not NULL,
    Sobrenome   VARCHAR(80) not NULL,
    Telefone    CHAR(10)    not NULL,
    Data_Nascimento CHAR(10),
    Sexo        CHAR(1),
    Endereço    VARCHAR(80),
    Email       VARCHAR(50) not NULL,
    Senha       VARCHAR(20) not NULL
    );

DROP TABLE IF EXISTS ContaBancaria CASCADE;
CREATE TABLE ContaBancaria(
    ID          DECIMAL(8)  not NULL PRIMARY KEY,
    Roteamento  DECIMAL(8)  not NULL,
    Tipo        VARCHAR(20) not NULL,
    Dono        DECIMAL(8)  not NULL,
        FOREIGN KEY (Dono) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
    );
    
DROP TABLE IF EXISTS Propriedade CASCADE;
CREATE TABLE Propriedade(
    ID          DECIMAL(8)  not NULL PRIMARY KEY,
    Classificacao DECIMAL(1)  not NULL,
    Endereço    VARCHAR(100) not NULL,
    NroBanheiros DECIMAL(2)  DEFAULT 0,
    NroQuartos  DECIMAL(2)  DEFAULT 0,
    MaxHospedes  DECIMAL(3),
    Diaria      NUMERIC DEFAULT 0,
    Limpeza     NUMERIC DEFAULT 0,
    Min_Noite   Decimal(3) DEFAULT 1,
    Max_Noite   Decimal(3),
    hr_checkin  TIME not NULL,
    hr_checkout TIME not NULL,
    Disponibilidade_inicio DATE not NULL,  
    Disponibilidade_fim DATE not NULL,  
    NroTipoCamas VARCHAR(50),
    Comodidades  VARCHAR(50), 
    Regras       VARCHAR(50),
    Interesses   VARCHAR(50),
    Dono        DECIMAL(8)  not NULL,
        FOREIGN KEY (DONO) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
    );

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [55]:
%%sql

INSERT INTO Usuario 
    VALUES (1,0,0,0,0,0,0,0,0);
INSERT INTO ContaBancaria 
    VALUES (0,0,0,1);

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
1 rows affected.

[]

In [56]:
%sql SELECT * FROM contabancaria, Usuario;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('0'), Decimal('0'), '0', Decimal('1'), Decimal('1'), '0', '0', '0         ', '0         ', '0', '0', '0', '0')]