-----
Gabriel Santos Brito - 10284250<br>
Luca Gomes Urssi - 10425396<br>
Vinicius Finke Raiter José - 9791052<br>


Install Postgre:
https://www.enterprisedb.com/downloads/postgres-postgresql-downloads
<br>Password: pgadmin

pip install sqlalchemy

pip install psycopg2

pip install ipython-sql

pip install ipywidgets

-----

In [3]:
############## Importar os módulos necessários para o Notebook:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base default ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

# Exercicio 2

In [202]:
%%sql


DROP TABLE IF EXISTS Localização CASCADE;
CREATE TABLE Localização(
    pais        varchar(50) not NULL,
    estado      varchar(50) not NULL,
    cidade      varchar(50) not NULL,
    bairro      varchar(50),
    PRIMARY KEY (pais, estado, cidade)
);

DROP TABLE IF EXISTS Usuario CASCADE;
CREATE TABLE Usuario(
    ID          numeric  not NULL PRIMARY KEY,
    Nome        VARCHAR(40) not NULL,
    Sobrenome   VARCHAR(80) not NULL,
    Telefone    CHAR(10)    not NULL,
    Data_Nascimento DATE,
    Sexo        CHAR(1),
    Email       VARCHAR(50),
    Senha       VARCHAR(20),
    numero      numeric,
    rua         varchar(100),
    cidade      varchar(50),
    CEP        numeric,
    pais        varchar(50),
    estado      varchar(50),
    cidade_Localização varchar(50),
    UNIQUE(Nome, Sobrenome, Telefone),
    FOREIGN KEY (pais, estado, cidade_Localização) 
        REFERENCES Localização (pais, estado, cidade)
        ON DELETE CASCADE ON UPDATE CASCADE
    );

DROP TABLE IF EXISTS Tipo_Usuario CASCADE;
CREATE TABLE Tipo_Usuario(
    Usuario    numeric not NULL PRIMARY KEY,
    hospede     bool DEFAULT FALSE,
    Dono        bool DEFAULT FALSE
);

DROP TABLE IF EXISTS ContaBancaria CASCADE;
CREATE TABLE ContaBancaria(
    ID         numeric not NULL PRIMARY KEY,
    Roteamento  numeric  not NULL,
    Tipo        VARCHAR(20) not NULL,
    Dono       numeric  not NULL,
        FOREIGN KEY (Dono) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
    );
    
DROP TABLE IF EXISTS Propriedade CASCADE;
CREATE TABLE Propriedade(
    ID         numeric  not NULL PRIMARY KEY,
    Nome        VARCHAR(200)  ,
    numero      numeric   ,
    rua         varchar(100) ,
    cidade      varchar(50)  ,
    CEP         numeric  ,
    pais        varchar(50),
    estado      varchar(50),
    cidade_Localização varchar(50),
    Classificacao varchar(200) ,
    NroBanheiros numeric  DEFAULT 0,
    NroQuartos  numeric  DEFAULT 0,
    MaxHospedes  numeric,
    Diaria      varchar(10) DEFAULT 0,
    Limpeza     NUMERIC DEFAULT 0,
    Min_Noite  numeric DEFAULT 1,
    Max_Noite   numeric,
    hr_checkin  TIME,
    hr_checkout TIME,
    Disponibilidade_inicio DATE,  
    Disponibilidade_fim DATE,  
    NroCamas numeric,
    Comodidades  VARCHAR(5000), 
    Regras       VARCHAR(50),
    Dono        numeric  not NULL,
    
   -- UNIQUE (Nome, numero, rua, cidade, CEP),
    FOREIGN KEY (DONO) REFERENCES Usuario (ID)
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (pais, estado, cidade_Localização) 
        REFERENCES Localização (pais, estado, cidade)
        ON DELETE CASCADE ON UPDATE CASCADE
    );

    
DROP TABLE IF EXISTS TrocaMensagem CASCADE;
CREATE TABLE TrocaMensagem(
    Timestamp TIMESTAMP NOT NULL,
    User1     numeric NOT NULL,
    User2     numeric NOT NULL,
    Mensagem  VARCHAR(100) NOT NULL,
        PRIMARY KEY (TimeStamp, User1, User2),
        FOREIGN KEY (User1) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (User2) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS Fotos CASCADE;
CREATE TABLE Fotos(
    Timestamp TIMESTAMP NOT NULL,
    User1     numeric NOT NULL,
    User2    numeric NOT NULL,
    Foto      VARCHAR(100) NOT NULL,
        PRIMARY KEY (TimeStamp, User1, User2, Foto),
        FOREIGN KEY (TimeStamp, User1, User2) 
            REFERENCES TrocaMensagem (TimeStamp, User1, User2)
            ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS Avalia CASCADE;
CREATE TABLE Avalia(
    id          numeric primary key,
    Timestamp   TIMESTAMP ,
    Propriedade numeric ,
    Mensagem    VARCHAR(10000) ,
    Limpeza     numeric DEFAULT 0,
    Comunicacao numeric  DEFAULT 0,
    Localizacao numeric DEFAULT 0,
    valor      numeric DEFAULT 0,
    Hospede numeric  ,
      -- primary key (TimeStamp, Hospede, Propriedade),
       -- FOREIGN KEY (Hospede) REFERENCES Usuario (ID)
         --   ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (Propriedade) REFERENCES Propriedade (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS FotosAvaliacao CASCADE;
CREATE TABLE FotosAvaliacao(
    Timestamp TIMESTAMP NOT NULL,
    Hospede      numeric NOT NULL,
    Propriedade numeric NOT NULL,
    Foto      VARCHAR(100) NOT NULL,
        PRIMARY KEY (TimeStamp, Hospede, Propriedade, Foto)
       -- FOREIGN KEY (TimeStamp, Hospede, Propriedade) 
          --  REFERENCES Avalia (TimeStamp, Hospede, Propriedade)
          --  ON DELETE CASCADE ON UPDATE CASCADE
);





DROP TABLE IF EXISTS Interesses CASCADE;
CREATE TABLE Interesses(
    pais        varchar(50) not NULL,
    estado      varchar(50) not NULL,
    cidade      varchar(50) not NULL,
    interesse   varchar(50) not NULL,
    
    PRIMARY KEY (pais, estado, cidade, interesse),
    FOREIGN KEY (pais, estado, cidade) 
        REFERENCES Localização (pais, estado, cidade)
        ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS Locacao CASCADE;
CREATE TABLE Locacao(
    DataReserva  TIMESTAMP NOT NULL,
    Hospede      numeric NOT NULL,
    Propriedade  numeric NOT NULL,
    confirmação  bool DEFAULT FALSE,
    Checkin      DATE,
    Checkout     DATE,
    NroHospedes  numeric,
    imposto      NUMERIC,
    DESCONTO     NUMERIC,
    COD_PROMO    NUMERIC,
    custoEstadia NUMERIC,
    PreçoTotal   NUMERIC,
        PRIMARY KEY (DataReserva, Hospede, Propriedade),
        FOREIGN KEY (Hospede) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (Propriedade) REFERENCES Propriedade (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

# Exercicio 3

In [5]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine
import pandas as pd

%sql DROP TABLE IF EXISTS listings CASCADE;
df = pd.read_csv('listings.csv', sep=',')
df.to_sql("listings", engine)

%sql DROP TABLE IF EXISTS calendar CASCADE;
df = pd.read_csv('calendar.csv', sep=',')
df.to_sql("calendar", engine)

%sql DROP TABLE IF EXISTS reviews CASCADE;
df = pd.read_csv('reviews.csv', sep=',')
df.to_sql("reviews", engine)

 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.

555

# Exercicio 5

In [203]:
%%sql

INSERT INTO Usuario (id, nome, sobrenome, telefone)
    select host_id, host_name, host_id, '0800'
    from listings
    group by host_id, host_name, host_id;

insert into tipo_usuario (usuario, hospede, dono)
    select id, false, true from usuario;

insert into propriedade (id, nome, cidade, classificacao, nrobanheiros, nroquartos, diaria, min_noite, max_noite, nrocamas, comodidades, dono)
    select id, name, neighbourhood_cleansed, property_type, bathrooms, bedrooms, price, minimum_nights, maximum_nights, beds, amenities, host_id
    from listings;

insert into avalia (id, timestamp, hospede, propriedade, mensagem)
    select id, to_date(date, '%y-%m-%d'), reviewer_id, listing_id, comments
    from reviews;

 * postgresql://postgres:***@localhost:5432/postgres
186 rows affected.
186 rows affected.
394 rows affected.
22555 rows affected.

[]

# exercicio 6

In [ ]:
%sql Select * from propriedade limit 10;

In [ ]:
%sql select classificacao, count(classificacao) from propriedade group by classificacao;

In [ ]:
%sql select count(*) from localização;

# exercicio 7

In [ ]:
%%sql
create view PropriedadesDisponíveis as
    select id from propriedade
    where (Disponibilidade_inicio >= '20240101' and Disponibilidade_inicio <= '20241231') 
        or (Disponibilidade_fim >= '20240101' and Disponibilidade_fim <= '20241231')

# exercicio 8

In [ ]:
%%sql
select u.nome, u.cidade, count(*)
    from usuario u join propriedade p
    on u.id = p.dono
    group by u.nome, u.cidade
        having count(*) > 3;