-----
Gabriel Santos Brito - 10284250<br>
Luca Gomes Urssi - 10425396<br>
Vinicius Finke Raiter José - 9791052<br>


Install Postgre:
https://www.enterprisedb.com/downloads/postgres-postgresql-downloads
<br>Password: pgadmin

pip install sqlalchemy

pip install psycopg2

pip install ipython-sql

pip install ipywidgets

-----

In [3]:
############## Importar os módulos necessários para o Notebook:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base default ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

# Exercicio 2

In [4]:
%%sql


DROP TABLE IF EXISTS Localização CASCADE;
CREATE TABLE Localização(
    pais        varchar(50) not NULL,
    estado      varchar(50) not NULL,
    cidade      varchar(50) not NULL,
    bairro      varchar(50),
    PRIMARY KEY (pais, estado, cidade)
);

DROP TABLE IF EXISTS Usuario CASCADE;
CREATE TABLE Usuario(
    ID          DECIMAL(8)  not NULL PRIMARY KEY,
    Nome        VARCHAR(40) not NULL,
    Sobrenome   VARCHAR(80) not NULL,
    Telefone    CHAR(10)    not NULL,
    Data_Nascimento DATE,
    Sexo        CHAR(1),
    Email       VARCHAR(50),
    Senha       VARCHAR(20),
    numero      DECIMAL(5),
    rua         varchar(100),
    cidade      varchar(50),
    CEP         DECIMAL(8),
    pais        varchar(50),
    estado      varchar(50),
    cidade_Localização varchar(50),
    UNIQUE(Nome, Sobrenome, Telefone),
    FOREIGN KEY (pais, estado, cidade_Localização) 
        REFERENCES Localização (pais, estado, cidade)
        ON DELETE CASCADE ON UPDATE CASCADE
    );

DROP TABLE IF EXISTS Tipo_Usuario CASCADE;
CREATE TABLE Tipo_Usuario(
    Usuario     DECIMAL(8) not NULL PRIMARY KEY,
    hospede     bool DEFAULT FALSE,
    Dono        bool DEFAULT FALSE
);

DROP TABLE IF EXISTS ContaBancaria CASCADE;
CREATE TABLE ContaBancaria(
    ID          DECIMAL(8)  not NULL PRIMARY KEY,
    Roteamento  DECIMAL(8)  not NULL,
    Tipo        VARCHAR(20) not NULL,
    Dono        DECIMAL(8)  not NULL,
        FOREIGN KEY (Dono) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
    );
    
DROP TABLE IF EXISTS Propriedade CASCADE;
CREATE TABLE Propriedade(
    ID          DECIMAL(8)   not NULL PRIMARY KEY,
    Nome        VARCHAR(40)  not NULL,
    numero      DECIMAL(5)   not NULL,
    rua         varchar(100) not NULL,
    cidade      varchar(50)  not NULL,
    CEP         DECIMAL(8)   not NULL,
    pais        varchar(50),
    estado      varchar(50),
    cidade_Localização varchar(50),
    Classificacao DECIMAL(1)  not NULL,
    NroBanheiros DECIMAL(2)  DEFAULT 0,
    NroQuartos  DECIMAL(2)  DEFAULT 0,
    MaxHospedes  DECIMAL(3) not NULL,
    Diaria      NUMERIC DEFAULT 0,
    Limpeza     NUMERIC DEFAULT 0,
    Min_Noite   Decimal(3) DEFAULT 1,
    Max_Noite   Decimal(3),
    hr_checkin  TIME,
    hr_checkout TIME,
    Disponibilidade_inicio DATE,  
    Disponibilidade_fim DATE,  
    NroTipoCamas VARCHAR(50),
    Comodidades  VARCHAR(50), 
    Regras       VARCHAR(50),
    Dono        DECIMAL(8)  not NULL,
    
    UNIQUE (Nome, numero, rua, cidade, CEP),
    FOREIGN KEY (DONO) REFERENCES Usuario (ID)
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (pais, estado, cidade_Localização) 
        REFERENCES Localização (pais, estado, cidade)
        ON DELETE CASCADE ON UPDATE CASCADE
    );

    
DROP TABLE IF EXISTS TrocaMensagem CASCADE;
CREATE TABLE TrocaMensagem(
    Timestamp TIMESTAMP NOT NULL,
    User1     DECIMAL(8) NOT NULL,
    User2     DECIMAL(8) NOT NULL,
    Mensagem  VARCHAR(100) NOT NULL,
        PRIMARY KEY (TimeStamp, User1, User2),
        FOREIGN KEY (User1) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (User2) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS Fotos CASCADE;
CREATE TABLE Fotos(
    Timestamp TIMESTAMP NOT NULL,
    User1     DECIMAL(8) NOT NULL,
    User2     DECIMAL(8) NOT NULL,
    Foto      VARCHAR(100) NOT NULL,
        PRIMARY KEY (TimeStamp, User1, User2, Foto),
        FOREIGN KEY (TimeStamp, User1, User2) 
            REFERENCES TrocaMensagem (TimeStamp, User1, User2)
            ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS Avalia CASCADE;
CREATE TABLE Avalia(
    Timestamp   TIMESTAMP NOT NULL,
    Propriedade DECIMAL(8) NOT NULL,
    Mensagem    VARCHAR(100) NOT NULL,
    Limpeza     Decimal(2) DEFAULT 0,
    Comunicacao Decimal(2) DEFAULT 0,
    Localizacao Decimal(2) DEFAULT 0,
    valor       Decimal(2) DEFAULT 0,
    Hospede DECIMAL(8) NOT NULL,
        PRIMARY KEY (TimeStamp, Hospede, Propriedade),
        FOREIGN KEY (Hospede) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (Propriedade) REFERENCES Propriedade (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS FotosAvaliacao CASCADE;
CREATE TABLE FotosAvaliacao(
    Timestamp TIMESTAMP NOT NULL,
    Hospede      Decimal(8) NOT NULL,
    Propriedade DECIMAL(8) NOT NULL,
    Foto      VARCHAR(100) NOT NULL,
        PRIMARY KEY (TimeStamp, Hospede, Propriedade, Foto),
        FOREIGN KEY (TimeStamp, Hospede, Propriedade) 
            REFERENCES Avalia (TimeStamp, Hospede, Propriedade)
            ON DELETE CASCADE ON UPDATE CASCADE
);





DROP TABLE IF EXISTS Interesses CASCADE;
CREATE TABLE Interesses(
    pais        varchar(50) not NULL,
    estado      varchar(50) not NULL,
    cidade      varchar(50) not NULL,
    interesse   varchar(50) not NULL,
    
    PRIMARY KEY (pais, estado, cidade, interesse),
    FOREIGN KEY (pais, estado, cidade) 
        REFERENCES Localização (pais, estado, cidade)
        ON DELETE CASCADE ON UPDATE CASCADE
);

DROP TABLE IF EXISTS Locacao CASCADE;
CREATE TABLE Locacao(
    DataReserva  TIMESTAMP NOT NULL,
    Hospede      DECIMAL(8) NOT NULL,
    Propriedade  DECIMAL(8) NOT NULL,
    confirmação  bool DEFAULT FALSE,
    Checkin      DATE,
    Checkout     DATE,
    NroHospedes  DECIMAL(3),
    imposto      NUMERIC,
    DESCONTO     NUMERIC,
    COD_PROMO    NUMERIC,
    custoEstadia NUMERIC,
    PreçoTotal   NUMERIC,
        PRIMARY KEY (DataReserva, Hospede, Propriedade),
        FOREIGN KEY (Hospede) REFERENCES Usuario (ID)
            ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (Propriedade) REFERENCES Propriedade (ID)
            ON DELETE CASCADE ON UPDATE CASCADE
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

# Exercicio 3

In [5]:
import pandas as pd

%sql DROP TABLE IF EXISTS listings CASCADE;
df = pd.read_csv('listings.csv', sep=',')
df.to_sql("listings", engine)

%sql DROP TABLE IF EXISTS calendar CASCADE;
df = pd.read_csv('calendar.csv', sep=',')
df.to_sql("calendar", engine)

%sql DROP TABLE IF EXISTS reviews CASCADE;
df = pd.read_csv('reviews.csv', sep=',')
df.to_sql("reviews", engine)

 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.

555

In [9]:
%sql select * from listings LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(0, 1489424, 'https://www.airbnb.com/rooms/1489424', 20240506232017, '2024-05-06', 'city scrape', 'Welcoming, easygoing, comfy bed, entire level', 'Queen size bed, extra comfy mattress, with access to a private bathroom with shower. A single bed is also available in that room. You will have an en ... (177 characters truncated) ... o Saratoga tracks and SPAC. An hour to mountains. Quiet dead-end street with ample on-street parking.  Equipped kitchen for your use. Hi-def cable tv', 'Quiet yet convenient.', 'https://a0.muscache.com/pictures/21977748/1dc80cd7_original.jpg', 5294164, 'https://www.airbnb.com/users/show/5294164', 'Efrat', '2013-03-02', 'Albany, NY', 'I am originally from Brooklyn, New York. As an adult I have lived in both the U.S. and Israel. I am on faculty at Empire State College. My husband, D ... (183 characters truncated) ... rom Europe, South America and Asia and our house was always full of young people when our daughters were younger. We are relaxed and welcoming hosts.', 'within an hour', '100%', '83%', 'f', 'https://a0.muscache.com/im/users/5294164/profile_pic/1375754135/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/5294164/profile_pic/1375754135/original.jpg?aki_policy=profile_x_medium', None, 1, 2, "['email', 'phone']", 't', 't', 'Neighborhood highlights', 'FOURTEENTH WARD', None, 42.66719, -73.8158, 'Private room in home', 'Private room', 2, 1.0, '1 private bath', 1.0, 0.0, '["Heating", "Backyard", "Dishes and silverware", "Wifi", "Shampoo", "First aid kit", "Fire extinguisher", "Dishwasher", "Free street parking", "Host  ... (190 characters truncated) ... ioning", "Essentials", "Refrigerator", "Stove", "Dryer", "Carbon monoxide alarm", "Lock on bedroom door", "Coffee maker", "Free parking on premises"]', '$50.00', 1, 1125, 1, 1, 1125, 1125, 1.0, 1125.0, None, 't', 0, 2, 14, 255, '2024-05-06', 250, 48, 2, '2013-09-10', '2024-04-21', 4.75, 4.82, 4.57, 4.92, 4.92, 4.82, 4.81, None, 'f', 1, 0, 1, 0, 1.93)]

In [7]:
%sql select * from reviews LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(0, 1489424, 7208791, '2013-09-10', 5817914, 'Hilary', "Efrat and Dan were very welcoming and accommodating because we weren't sure what time we were getting there ! I would definitely recommend staying there")]

In [8]:
%sql select * from calendar LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(0, 39093517, '2024-05-06', 'f', '$115.00', None, 4, 1125)]